/backend/runtime/
/backend/web/uploads/
/backend/web/assets/
/frontend/runtime/
/frontend/web/uploads/
/frontend/web/assets/
/auth.json
/vendor
/backend/config/params-local.php
/common/config/main-local.php
/common/config/params-local.php
/frontend/config/main-local.php
/frontend/config/params-local.php
/backend/config/main-local.php
