# Local development environment template
# Copy to .env for local usage.

# Framework
# ---------
YII_DEBUG=true
YII_ENV=dev
APP_MAINTENANCE=0

# Application
# -----------
LINK_ASSETS=true

# Databases
# ---------
DB_DSN=mysql:host=localhost;port=3306;dbname=yii2_news_2
DB_USERNAME=root
DB_PASSWORD=
DB_TABLE_PREFIX=t_
DB_CHARSET=utf8mb4

TEST_DB_DSN=mysql:host=db;port=3306;dbname=yii2-starter-kit-test
TEST_DB_USERNAME=root
TEST_DB_PASSWORD=root

# Urls (single-domain local in subfolder)
# ---------------------------------------
FRONTEND_HOST_INFO=http://news.localhost
FRONTEND_BASE_URL=/yii2-news
BACKEND_HOST_INFO=http://news.localhost
BACKEND_BASE_URL=/yii2-news/backend
STORAGE_HOST_INFO=http://news.localhost
STORAGE_BASE_URL=/yii2-news/storage

# Other
# -----
SMTP_HOST=mailcatcher
SMTP_PORT=1025

FRONTEND_COOKIE_VALIDATION_KEY=change-this-local-frontend-key
BACKEND_COOKIE_VALIDATION_KEY=change-this-local-backend-key

ADMIN_EMAIL=admin@yii2-starter-kit.localhost
ROBOT_EMAIL=robot@yii2-starter-kit.localhost

GITHUB_CLIENT_ID=your-client-id
GITHUB_CLIENT_SECRET=your-client-secret

GLIDE_SIGN_KEY=change-this-local-glide-sign-key
GLIDE_MAX_IMAGE_SIZE=4000000

# To resolve "Invalid volumes", for Docker Toolbox
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Optional for Docker for Mac
# XDEBUG_CONFIG="remote_connect_back=0 remote_host=host.docker.internal"

